@font-face { font-family: 'DOSMyungjo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'DungGeunMo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
body{

	/*background-color:#ff9999;   */
	/* 분홍 */
	background-color:#C2B28F;
}
#logo{
	font-family: DOSMyungjo;
	color : #f7e600;
	text-shadow: 5px 3px black;
	font-size:40pt;
	margin : 10px;
}
.flexBox{
	margin: 10px 0;
	display:flex;
	justify-content:center;
}
.retroCon{
    display:flex;
    justify-content: center;
    background-color: black;
    width:90%;
    min-height:100px;
}
.retroElem{
    border-radius: 7px;
    width:90%;
    min-height:100px;
    border:5px double blue;
    margin: 10px;
    padding:10px;
    color:white;
    font-family: 'Press Start 2P', cursive;
}
h3 {
    font-family: DungGeunMo;
    /* font-family: 'Press Start 2P', cursive; */
    margin : 0 auto 0 auto;
    text-align:left;
    position:relative;
    text-shadow: 3px 3px 0px #2038ec;
    color:#fff;
    font-weight:400;
    font-size:1.5em;
   } 
.tierImg{
    width:100px;
}
.blurEffect {
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
  