@font-face { font-family: 'DOSMyungjo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'DungGeunMo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
body{

	/*background-color:#ff9999;   */
	/* 분홍 */
	background-color:#C2B28F;
}
#logo{
	font-family: DOSMyungjo;
	color : #f7e600;
	text-shadow: 5px 3px black;
	font-size:40pt;
	margin : 10px;
}
.flexBox{
	margin: 10px 0;
	display:flex;
	justify-content:center;
}
.retroCon{
    display:flex;
    justify-content: center;
    background-color: black;
    width:90%;
    max-width:400px;
}
.retroCon:before {
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 비율 */
}
.retroElem{
    display:flex;
    align-items: center;
    border-radius: 7px;
    width:90%;
    min-height:100px;
    border:5px double blue;
    margin: 10px;
    padding:10px;
    color:white;
    font-family: 'Press Start 2P', cursive;
}

#myresult {
    font-size:15pt;
    font-family: DungGeunMo;
    margin : 0 auto 0 auto;
    text-align:left;
    position:relative;
    text-shadow: 3px 3px 0px #2038ec;
    color:#fff;
    font-weight:400;
   
   } 
.tierImg{
   height:40px;
}
.blurEffect {
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
  
  .floatingBar{
      
    flex:1 1 100%;
    margin:10px 0;
    padding:5px;
    display:flex;
    border-radius: 8px;
    width:100%;
    height:60px;
    background-color:#37383f;
    align-items:center;
    box-sizing:border-box;
  }
  .circleBtn{
    margin:5px;
    border:1px solid #181a1f;
    background-color:#23262e;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 50%;
    min-width:40px;
    min-height:40px;
  }
  .circleBtn > svg{
    color:#accabe;
    min-width:20px;
    min-height:20px;
    max-width:32px;
    max-height:32px;
  }
  .textNotice{
    padding-left:5px;
    flex:1 1 100%;
    color:#accabe;
    font-size:13pt;
    font-weight: bold;
  }
  .btnBox{
    flex:1 1;
    display:flex;
    justify-content: flex-end;
  }